{% extends "base.html" %}

{% block title %}Budżet osobisty - Dodawanie przychodu{% endblock %}

{% block head %}

<link rel="stylesheet" href="../css/money.css" type="text/css">

{% endblock %}

{% block body %}

<div class="container">
  <section id="content">
    <div class="row text-center justify-content-center">
      <h2 class="mt-3">Rejestracja</h2>
      <hr class="line mt-4">
      <div id="success_registration">
        Udało się! Rejestracja przebiegła pomyślnie!
      </div>
      <div class="attention mt-2 mb-2">
        <a href="/login">Kliknij tutaj, aby się zalogować<i class="icon-ok"></i></a>
      </div>
    </div>
  </section>
</div>

{% endblock %}