html{
		height:100vh;
		width:100vw;
}

body{
		/* Background pattern from Toptal Subtle Patterns */
		background-image: url("../img/handmadepaper.png");
		font-family: 'Roboto Slab', serif;
		color: #f9f9f9;
		padding:0;
		margin: 0;
		height: 100%;
		font-size: 17px;
		overflow-x: hidden;
}

#wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
}

h1{
		margin: 10px;
		font-size: 40px;
		text-transform: uppercase;	
		font-weight: 700;
}

h4{
		margin: 10px;
		font-size: 18px;
		font-style: italic;
}

#logo{
		letter-spacing: 4px;
		text-shadow: 0.8px 0.8px #0C255C;
		text-align: center;	
		background-color: #4CA0F5;
		padding: 3px 0;
		opacity: 0.8;
}

h2{
		margin: 10, 0, 0, 0;
		letter-spacing: 1px;
		font-size: 40px;
		font-style: italic;
}

.sentence{
		width: 350px;
		padding: 10px;
		font-size: 20px;
}

#content{
		padding: 20px 60px 20px 60px;
		background-color: #8DBCEB; 
		margin-top: 25px;
		margin-bottom: 15px;
		border-radius: 10px;
		border: 1px solid #9EBDDB;
		text-shadow: 0.5px 0.5px #0072E3;
		-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

@media all and (min-width: 700px){
	#content{
		width: 570px;
		margin-left: auto;
		margin-right: auto;
	}
}

#name,
input[type=text],
input[type=email],
input[type=password]{
		width: 20em;
		background-color: #efefef;
		color: #003F7F;
		border: 2px solid #BCCAE8;
		border-radius: 5px;
		font-size: 16px;
		padding: 8px;
		box-sizing: border-box;
		outline: none;
		margin-bottom: -3px;
		font-family: 'Roboto Slab', serif;
		text-align: left;
}

#name:focus, #name:hover,
input[type=text]:focus, input[type=text]:focus,
input[type=email]:focus, input[type=email]:hover,
input[type=password]:focus, input[type=password]:hover{
		-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
		border: 2px solid #9EBDDB;
		border-radius: 5px;
		color: #003F7F;
}

#submit_log{
		width: 200px;
		background-color: #1A78D6;
		font-size:18px;
		color: white;
		padding: 10px 5px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 1px;
		outline: none;
		margin-top: 7px;
		margin-bottom: 11px;
		font-family: 'Roboto Slab', serif;
}

#submit_log:hover{
		background-color: #207fdf;
}

#footer{
		width:100%;
		background-color: #0F5296;
		text-align: center;
		padding: 5px 0;
		font-size: 11px;
		opacity: 0.8;
		margin-top:8px;
}

a:link{
		color: #FFFFFF;
		text-decoration:none;
}

a:visited, a:hover{
		color: #FFFFFF;
}

.attention:hover{
		font-weight: bold;
}


/*menu*/
.navbar{
		min-height: 64px;
		background-color: #3793eefd;
		border-top: 1px solid rgb(97, 176, 240);
		border-bottom: 1px solid rgb(97, 176, 240);
		text-align: center;
		padding: 8px;
}

ol{
		padding: 0;
		margin: 0;
		list-style-type: none;
		font-size: 17px;
		letter-spacing: 0.5px;
}

ol a {
		color: white;
		text-decoration: none;
		display: block;
}

ol > li{
		width: 170px;
		margin-top:3px;
		margin-bottom:2px;
		border-right: 1px dashed rgb(97, 176, 240);
}

ol > li:first-child{
		border-left: 1px dashed rgb(97, 176, 240);
}

ol > li:hover{
		background-color: #4CA0F5 ;
}

@media all and (max-width: 991px){
	ol > li{
		border: none;
	}
	ol>li:first-child{
		margin-top: 10px;
		border: none;	
	}
}

/* expense/income */
.sentence_expense{
		font-size: 20px;
		text-shadow: 0.3px 0.3px #0072E3;
		margin: 8px;
}

#title{
		text-shadow: 0.7px 0.7px #0072E3;
		font-size: 32px;
		font-weight: 700;
}

#content_expense{
		background-color: #8DBCEB;
		padding: 20px 0px 20px 0px;
		border: 1px solid #9EBDDB;
		margin-top: 25px;
		margin-bottom: 15px;
		-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		text-align: center;
}

#amount, #date1{
		background-color: #ffffff;
		width: 100%;
		height: 30px;
		color: #003F7F;
		border: 2px solid #BCCAE8;
		border-radius: 5px;
		outline:none;
		font-size: 15px;
		padding: 5px;
}

.block{
		margin-left:10px;
		margin-right:10px
}

.categories{
		text-align: left;
		display: block;
		width: 200px;
}

#comment{
		resize: none;
		padding: 5px;
		margin: 5px;
		color: #003F7F;
		border: 2px solid #BCCAE8;
		border-radius: 5px;
		outline:none;
		font-family: 'Roboto Slab', serif;
		letter-spacing: 2px;
		font-size: 12px;
}

#comment:hover{
		border-color: #9EBDDB;
}

#comment:focus{
		border-color: #9EBDDB;

}

#amount:hover, #amount:focus,
#date1:hover, #date1:focus{
		border-color: #9EBDDB;
		background-color: #ffffff;
}

#expense_submit,
#expense_button{
		background-color: #2b7bca;
		font-size:15px;
		color: white;
		padding: 5px 5px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		letter-spacing: 1px;
		outline: none;
		width:150px;
		height:40px;
		font-family: 'Roboto Slab', serif
}

#expense_submit:hover,
#expense_button:hover{
		background-color: #2E8FF1;
}

/*balance*/
#content_balance{
		background-color: #8DBCEB;
		padding: 15px 0px 15px 0px;
		border: 1px solid #9EBDDB;
		margin-top: 25px;
		margin-bottom: 15px;
		-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
		box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

#dropbutton{
		min-width: 180px;
		padding: 10px 16px 10px 16px ;
		font-size: 16px;
		border: none;
		cursor: pointer;
		background-color: #1A78D6;
		color: #f9f9f9;
		outline: none;
		font-family: 'Roboto Slab', serif;
}

#dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 170px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
}


#dropdown-content a{
		color: #003F7F;
		padding: 10px 16px;
		text-decoration: none;
		display: block;
		border-top: 1px dashed rgb(97, 176, 240);
}

#dropdown-content a:first-child{
		border-top: none;
}

#dropdown-content a:hover {
		background-color: #e5eaf1;
}

#select_period_dropdown {
		width: 170px;
		margin-left: auto;
		margin-right: auto;
}

#select_period_dropdown:hover
#dropdown-content{
		display: block;
}	

#period{
		margin-top: 8px;
		margin-bottom: 15px;
		font-size: 18px;
		text-shadow: 0.3px 0.3px #0072E3;
}

#myModalLabel{
		font-style: normal;
}

#show{
		background-color: #1A78D6;
		font-family: 'Roboto Slab', serif;
		font-size:15px;
		color: #f9f9f9;
		padding: 5px;
		border: none;
		cursor: pointer;
		letter-spacing: 1px;
		outline: none;
		margin-top: 15px;
		width:100px;
}

#show:hover{
		background-color: #2E8FF1;
}

#selectPeriod{
		display: block;
}

#dateBegin, #dateEnd{
		width:160px;
		height: 30px;
		padding: 5px;
		margin-left: 10px;
		margin-right: 10px;
		color: #003F7F;
		border: 2px solid #BCCAE8;
		border-radius: 5px;
		outline:none;
}

#dateBegin:hover, #dateBegin:focus,
#dateEnd:hover, #dateEnd:focus{
		border-color: #9EBDDB;
}

.sum{
		font-weight: bold;
}

table, th, td {
		border: 1px solid #9EBDDB;
		border-collapse: collapse;
}	

th, td {
		padding: 6px;
		padding-left: 15px;
}

#salary,#bankInterest,#allegro,#otherIncome,#sumOfIncomes,
#eat,#accommodation,#transport,#telecommunication,#healthcare,
#clothes,#hygiene,#kids,#entertainment,#trip,#training,
#books,#savings,#pension,#debts,#donation,#otherExpenses,
#sumOfExpenses{
		text-align: right;
}

table{
		margin-bottom: 20px;
		width: 90%;
		background-color: #3793eefd;
}

#balance{
		width: 90%;
		background-color: #ffffff;
		color: rgb(18, 98, 179);
		margin-top:20px;
		margin-bottom:10px;
		border: 1px solid #1A78D6;
		padding: 10px;
		text-align: center;
}

@media all and (min-width: 900px){
	table,#balance {
		width:50%;
	}
}

#balance1{
		font-size: 18px;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 10px;
}

#score{
		color: rgb(15, 110, 206);
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
}

#piechart{
		border: 1px solid #1A78D6;
}

#main_page{
		color: #1A78D6;
}

.error{
		color: #d80303c0;
		font-size: 12px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
		margin-top: 2px;
		text-align: center;
		text-shadow: none;
		letter-spacing: 1px;
}

.g-recaptcha{
		display: table;
		margin-left: auto;
		margin-right: auto;
}

.success{
		font-weight: bold;
		margin: 10px 0px 15px 0px;
		font-size: 22px;
		width: 370px;
		text-decoration: underline;
}

/* main page index.php */

.sentence1{
		margin:  30px 0px 30px 0px ;
		font-size: 28px;
		letter-spacing: 1px;
		font-style: italic;
}

#button_container{
		margin:  20px 0px 30px 0px ;
		perspective: 600px;
		display: flex; 
		justify-content: space-around;
}

.button_link{
		border: 1px solid #1c6fc2;
		margin: 25px;
		padding: 30px;
		color: white;
		font-style: italic;
		font-size: 25px;
		letter-spacing: 1px;
		/*cssmatic.com*/
		background: linear-gradient(to right, rgba(92,137,204,1) 0%, rgba(68,118,193,1) 0%, rgba(56,113,188,1) 26%, rgba(21,97,172,1) 100%);
		border-radius: 10px;
		opacity: 0.9;
		box-shadow: 3px 3px 0px 0px rgb(68,118,193), 0px 9px 10px rgba(0, 0, 0, 0.7);
		transition: 0.2s;
}

@media all and (max-width: 991px){
	#button_container{
		flex-wrap: wrap;
	}
}

.button_link:hover
{
		opacity: 1;
		transform: rotateX(5deg);
}
.button_link:active
{
		outline: none;
		position: relative;
		top: 3px;
		box-shadow: 3px 3px 0px 0px rgb(68,118,193), 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.button_link:focus{
  	outline: none;
}

.line{
		width: 80%;
		background: rgb(120, 159, 218);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#success_registration{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 22px;
}

.fa {
		position: absolute !important;
		font-size: 20px !important;
		color: #7a797e;
		margin: 12px 0 0 -40px !important;
		cursor: pointer;
		text-shadow: none;
}

.card {
	border: #2b7bca !important;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 8px;
}

.card-header {
	padding: 0; 
	border-radius: 3px 3px 3px 3px !important;
}

#accordion {
	width: 70vmin !important;
}

.block_option{
	background-color:#2b7bca;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 10px 20px; 
	border-radius: 3px 3px 3px 3px;
}