{% extends "base.html" %}

{% block title %}Budżet osobisty - Bilans finansowy{% endblock %}

{% block navigation %} 
        <nav class="navbar navbar-dark navbar-expand-lg">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainmenu" >
                <ol class="navbar-nav mx-auto">
                    <li class="nav-item mx-auto"><a class="nav-link" href="/posts/index">Strona główna</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/posts/income">Dodaj przychód</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/posts/expense">Dodaj wydatek</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link active" href="/balance/balance">Przeglądaj bilans</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link disabled" href="#">Ustawienia</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/logout">Wyloguj się</a></li>
                </ol>
            </div>
        </nav>
{% endblock %}

{% block body %}
<!--
    <h1>Posts</h1>

   <ul>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
        {% endfor %}
    </ul>
    -->

    <div id="content_balance">
        <div class="container">
            <div class="justify-content-center mt-2">
                <div class="text-center" id="title">Bilans finansowy</div>
                <div>
                    <hr class="line mt-4 mb-3" style="width: 20em">
                </div>
                <div class="row justify-content-center">
                    <div class="text-center" id="period" > 
                        {{ sentencePeriod }}
                    </div>
                </div>
                <div class="text-center mt-2 mb-4" id="select_period_dropdown">
                    <button id="dropbutton">Wybierz okres</button>
                    <div id="dropdown-content">
                        <a href="/balance/balance?option=1">Bieżący miesiąc</a>
                        <a href="/balance/balance?option=2">Poprzedni miesiąc</a>
                        <a href="/balance/balance?option=3">Bieżący rok</a>
                        <a href="#myModal" data-toggle="modal" >Niestandardowy</a>
                    </div>
                    <!--Modal-->
                    <div class="modal fade text-body" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Wybierz przedział czasowy</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <form method="post" action="/balance/balance" >
                                    <div class="modal-body text-center mt-3 mb-3">
                                        <div id="selectPeriod">	
                                            od <input type="date" name="dateBegin" id="dateBegin">
                                            do <input type="date" name="dateEnd" id="dateEnd">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                        <button type="submit" class="btn btn-primary" >Pokaż</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if incomesGenerally is empty %}
            <div class="text-center mb-3">  
                Brak przychodów w wybranym okresie
            </div>
            {% endif %}
            <div class="row justify-content-center">
                <table>
                    <thead>
                        <tr>
                            <th class="text-center p-2" colspan='3'>PRZYCHODY</th>
                        </tr>
                        <tr>
                            <th scope="col-lg-2">Data</th>
                            <th scope="col-lg-1">Kwota</th>
                            <th scope="col-lg-1">Kategoria</th>
                        </tr>
                    </thead>
                    {% for income in incomesGenerally %}
                        <tr>
                            <td class="text-left pl-4">{{ income[0] }}</td>	
                            <td class="text-right pr-3">{{ income[2] }}</td>
                            <td class="text-right pr-3">{{ income[1] }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="sum">
                        <td>Suma przychodów</td>
                        <td id="sumOfIncomes" colspan='2'>
                            {% if incomesSum %} 
                                {{ incomesSum }} 
                            {% else %}
                                0.00
                            {% endif %}
                        </td>
                    </tr>
                </table> 
            </div>
            {% if expensesGenerally is empty %}
                <div class="text-center mb-3">  
                    Brak wydatków w wybranym okresie
                </div>
            {% endif %}
            <div class="row justify-content-center">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center p-2" colspan='3'>WYDATKI</th>
                            </tr>
                            <tr>
                                <th scope="col-lg-2">Data</th>
                                <th scope="col-lg-1">Kwota</th>
                                <th scope="col-lg-1">Kategoria</th>
                            </tr>
                        </thead>
                        {% for expense in expensesGenerally %}
                        <tr>
                            <td class="text-left pl-4">{{ expense[0] }}</td>	
                            <td class="text-right pr-3">{{ expense[2] }}</td>
                            <td class="text-right pr-3">{{ expense[1] }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="sum">
                            <td>Suma wydatków</td>
                            <td id="sumOfExpenses" colspan='2'>
                                {% if expensesSum %} 
                                    {{ expensesSum }} 
                                {% else %}
                                    0.00
                                {% endif %}
                            </td>
                        </tr>
                    </table> 
            </div>
            <div class="row justify-content-center">
                <div class="row col-12 justify-content-center">		
                    <div id="piechart"></div>
                </div>
                <div id="balance">
                    <div id="balance1">BILANS</div>
                    {% if balanceScore %} 
                        {{ balanceScore }} 
                    {% else %}
                        0.00
                    {% endif %}
                    <div id="score">
                        <div>{{ balanceSentence }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
