{% extends "base.html" %}

{% block title %}Budżet Osobisty{% endblock %}

{% block head %}

<link rel="stylesheet" href="../css/money.css" type="text/css">

{% endblock %}

{% block body %}

<div class="container">
    <section id="content">
        <div class="row text-center justify-content-center">
            <div class="sentence1">
                <h2 class="mb-4">Witaj!</h2>
                Już dziś zacznij korzystać ze swojego budżetu!
            </div>
            <hr class="line">
            <div id="button_container">
                <a href="/signup/new" class="button_link">Rejestracja</a>
                <a href="/login" class="button_link">Logowanie</a>
            </div>
        </div>
    </section>
</div>

{% endblock %}