{% extends "base.html" %}

{% block title %}Budżet Osobisty{% endblock %}

{% block head %}

<link rel="stylesheet" href="../css/money.css" type="text/css">

{% endblock %}

{% block body %}

<div class="container">
  <section id="content">
    <div class="index_page">
      <div id="title">
        <h2 class="mb-4 mt-3 text-center"><strong>Witaj!</strong></h2>
        <p class="h4 mt-3 mb-4 pl-5 pr-5 text-center">
          Już dziś zacznij korzystać ze swojego budżetu!
        </p>
      </div>
      <hr class="col-8 ml-5 mr-5">
      <div id="button_container">
        <a href="/signup/new" class="button_link">Rejestracja</a>
        <a href="/login" class="button_link">Logowanie</a>
      </div>
    </div>
  </section>
</div>

{% endblock %}