{% extends "base.html" %}

{% block title %}Budżet osobisty - Dodawanie wydatku{% endblock %}

{% block head %}

<link rel="stylesheet" href="../css/fontello.css" type="text/css">

<script>

  $(document).ready(function () {
    //changing of icons up/down
    $("#option1").click(function () {
      up = $("#up1");
      up.attr('class') == 'icon-down-open' ? up.attr("class", "icon-up-open") : up.attr("class", "icon-down-open");
      $("#up2, #up3, #up4").attr("class", "icon-down-open");
    });
    $("#option2").click(function () {
      up = $("#up2");
      up.attr('class') == 'icon-down-open' ? up.attr("class", "icon-up-open") : up.attr("class", "icon-down-open");
      $("#up1, #up3, #up4").attr("class", "icon-down-open");
    });
    $("#option3").click(function () {
      up = $("#up3");
      up.attr('class') == 'icon-down-open' ? up.attr("class", "icon-up-open") : up.attr("class", "icon-down-open");
      $("#up1, #up2, #up4").attr("class", "icon-down-open");
    });
    $("#option4").click(function () {
      up = $("#up4");
      up.attr('class') == 'icon-down-open' ? up.attr("class", "icon-up-open") : up.attr("class", "icon-down-open");
      $("#up1, #up2, #up3").attr("class", "icon-down-open");
    });

    //hover radio input    
    $("label").hover(function () {
      $(this).children().children().prop('checked', true);
    });

  });

  ajaxRemoveCategory = (idCategory, url, label) => {
    $.ajax({
      url: url,
      method: "post",
      data: { idCategory },
      success: function () {
        label.addClass("d-none");
        var newId = 'removed' + idCategory
        label.attr("id", newId);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("Błąd!");
      }
    });
  }

  showModalToRemoveCategory = (item, idCategory) => {

    console.log(idCategory);

    $.ajax({
      url: '/Settings/getCategories',
      method: 'post',
      data: { item },
      success: function (data) {
        var itemsCategories = JSON.parse(data);
        var url = "";
        var label = $('#label' + item + idCategory);

        $('#winModalRemove' + item + idCategory).modal("show");

        switch (item) {
          case 'Income': {
            url = "/Settings/removeIncomeCategory";
            break;
          }
          case 'Expense': {
            url = "/Settings/removeExpenseCategory";
            break;
          }
          case 'Payment': {
            url = "/Settings/removePaymentCategory";
            break;
          }
        }

        $('.removeCategory' + item).on('submit', function () {
          event.preventDefault();

          ajaxRemoveCategory(idCategory, url, label);
          $('#winModalRemove' + item + idCategory).modal("hide");
        });
      }
    });
  }

  addCategoryToLabel = (categoryName, item, idToAdd) => {

    console.log(categoryName, item, idToAdd)

    var newLabel = document.createElement('label');
    newLabel.id = 'label' + item + idToAdd;
    newLabel.classList.add('subblock_option', 'col-12');
    newLabel.innerHTML =
      `<div>
        <input class="mr-2" type="radio" name="category${item}">
          ${categoryName}
        </input>
      </div>
      <div>
        <i class="icon-pencil pointer" onclick="showModalToEditCategory('${item}, '${idToAdd}')" aria-hidden="true" title="Edytuj kategorię"></i>
        <i class="icon-trash pointer" onclick="showModalToRemoveCategory('${item}','${idToAdd}')" aria-hidden="true" title="Usuń kategorię"></i>
      </div>`;

    if (item == "Payment") {
      newLabel.innerHTML =
        `<div>
          ${categoryName}
      </div>
      <div>
        <i class="icon-pencil pointer" onclick="showModalToEditCategory('${item}, '${idToAdd}')" aria-hidden="true" title="Edytuj kategorię"></i>
        <i class="icon-trash pointer" onclick="showModalToRemoveCategory('${item}','${idToAdd}')" aria-hidden="true" title="Usuń kategorię"></i>
      </div>`;
    }


    console.log(newLabel);

    $('#idForNewLabelCategory' + item).before(newLabel.outerHTML);

    var newModal = document.createElement('div');
    newModal.id = 'winModalRemove' + item + idToAdd;
    newModal.className = 'modal';
    newModal.setAttribute('tabindex', '-1');
    newModal.setAttribute('role', 'dialog');
    newModal.innerHTML =
      `<div class="modal-dialog" role="document">
        <div class="modal-content p-3">
          <div class="modal-header">
            <h5 class="modal-title text-body h5">Usuwanie kategorii</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form method="post" class="removeCategory${item}">
            <div class="modal-body text-body h6 mt-3 mb-3">
              <p>Czy napewno chcesz usunąć poniższą kategorię? </p>
              <strong>${categoryName}</strong>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary"v>Tak</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
            </div>
          </form>

        </div>
      </div>`

    $('#idForNewLabelCategory' + item).before(newModal.outerHTML);

    //hover radio input    
    $("label").hover(function () {
      $(this).children().children().prop('checked', true);
    });

  }

  checkIfCategoryExist = (itemsCategories, categoryName) => {
    if (itemsCategories) {
      var exist = false;
      itemsCategories.forEach(element => {
        if (element[0] == categoryName) {
          exist = true;
        }
      });
      return exist ? false : true;
    } else {
      return true;
    }
  }

  capitalizeFirstLetter = str => {
    return str.charAt(0).toUpperCase() + str.substring(1).toLowerCase();
  }

  ajaxAddCategoryToDB = (categoryName, urlDB, item) => {
    $.ajax({
      url: urlDB,
      method: "post",
      data: { categoryName },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("Błąd!");
      }
    });
  }

  showModalToAddCategory = item => {
    var inputAddCategory = $('#inputAddCategory' + item);
    var urlDB = "";
    inputAddCategory.removeClass('is-invalid');
    $('.categoryInfo').html("");
    document.getElementById("formAddCategory" + item).reset();


    $('#winModalAddCategory' + item).modal("show");

    inputAddCategory.keyup(function () {
      inputAddCategory.removeClass('is-invalid');
      $('.categoryInfo').html("");
    });

    $('#formAddCategory' + item).on('submit', function () {
      event.preventDefault();

      $.ajax({
        url: '/Settings/getCategories',
        method: 'post',
        data: { item },
        success: function (data) {
          var itemsCategories = JSON.parse(data);
          var categoryName = inputAddCategory.val();
          categoryName = categoryName.trim();
          categoryName = capitalizeFirstLetter(categoryName);

          if (typeof categoryName !== "undefined" && categoryName) {
            if (checkIfCategoryExist(itemsCategories, categoryName)) {

              var lastIdPosition = itemsCategories.length - 1;
              var newID = parseInt(itemsCategories[lastIdPosition][1]) + 1;

              addCategoryToLabel(categoryName, item, newID);

              switch (item) {
                case 'Income': {
                  urlDB = '/Settings/addIncomeCategory';
                  break;
                }
                case 'Expense': {
                  urlDB = '/Settings/addExpenseCategory';
                  break;
                }
                case 'Payment': {
                  urlDB = '/Settings/addPaymentMethod';
                  break;
                }
              }

              ajaxAddCategoryToDB(categoryName, urlDB, item);

              $('#winModalAddCategory' + item).modal("hide");
              document.getElementById("formAddCategory" + item).reset();
            } else {
              inputAddCategory.addClass('is-invalid');
              $('.categoryInfo').html("Ta nazwa już istnieje!");
            }
          } else {
            inputAddCategory.addClass('is-invalid');
            $('.categoryInfo').html("Musisz wpisać nazwę!");
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          alert("Błąd!");
        }
      });
    });
  }

  

  showModalToEditCategory = (item, idCategory) => {
    
    $('#winModalEditCategory' + item + idCategory).on('shown.bs.modal', function() {
      $(this).find('#editName' + item + idCategory).focus();
    });

    $("label").hover(function () {
      $(this).children().children().prop('checked', false);
    });

    console.log("hej!")

    $('#winModalEditCategory' + item + idCategory).modal("show");
    
    $("#limitCheckbox"+idCategory).click(function() {
      
      if(document.getElementById("limitCheckbox"+idCategory).checked) {
          console.log("zaznaczone");
          $("#limitNumber"+idCategory).prop('readonly', false);
          $("#limitNumber"+idCategory).prop('autofocus', true);

      } else {
        $("#limitNumber"+idCategory).prop('readonly', true);
        $("#limitNumber"+idCategory).prop('autofocus', false);
      }

    });

  }

</script> 

{% endblock %}

{% block navigation %}

<nav class="navbar navbar-dark navbar-expand-lg">
  <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#mainmenu"
    aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainmenu">
    <ol class="navbar-nav mx-auto">
      <li class="nav-item mx-auto"><a class="nav-link" href="/posts/index">Strona główna</a></li>
      <li class="nav-item mx-auto"><a class="nav-link" href="/posts/income">Dodaj przychód</a></li>
      <li class="nav-item mx-auto"><a class="nav-link" href="/posts/expense">Dodaj wydatek</a></li>
      <li class="nav-item mx-auto"><a class="nav-link" href="/balance/balance">Przeglądaj bilans</a></li>
      <li class="nav-item mx-auto"><a class="nav-link active" href="/settings/settings">Ustawienia</a></li>
      <li class="nav-item mx-auto"><a class="nav-link" href="/logout">Wyloguj się</a></li>
    </ol>
  </div>
</nav>

{% endblock %}

{% block body %}

<div id="content_balance" style="min-height: 70vh">
  <div class="container">
    <div class="row justify-content-center">
      <div id="title" class="col-12 text-center mt-3">
        Panel użytkownika
        <hr class="line mt-4 mb-5" style="width: 60vmin">
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link block_option" id="option1" data-toggle="collapse" href="#collapseOne">
              Kategorie przychodów
              <i class="icon-down-open" aria-hidden="true" id="up1"></i>
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="info_edition mb-2">Edytuj istniejące kategorie:</div>
              {% for category in categoriesIncomes %}
              <label class="subblock_option col-12" id="labelIncome{{category[1]}}">
                <div>
                  <input class="mr-2" type="radio" name="categoryIncome">
                  {{ category[0] }}
                  </input>
                </div>
                <div>
                  <i class="icon-pencil pointer" onclick="showModalToEditCategory('Income', '{{category[1]}}')" aria-hidden="true" title="Edytuj kategorię"></i>
                  <i class="icon-trash pointer" onclick="showModalToRemoveCategory('Income', '{{category[1]}}')"
                    aria-hidden="true" title="Usuń kategorię"></i>
                </div>
              </label>
              <div class="modal" tabindex="-1" role="dialog" id="winModalRemoveIncome{{category[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Usuwanie kategorii przychodów</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="removeCategoryIncome">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Czy napewno chcesz usunąć poniższą kategorię? </p>
                        <p><b>{{category[0]}}</b></p>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Tak</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div class="modal" role="dialog" id="winModalEditCategoryIncome{{category[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Edycja kategorii</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="editCategoryIncome">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Nazwa kategorii</p>
                        <input type="text" class="form-control" value="{{category[0]}}" id="editNameIncome{{category[1]}}">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Zmień</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="text-right" id="idForNewLabelCategoryIncome">
                <button class='btn_settings mt-3' onclick="showModalToAddCategory('Income')">
                  <i class="icon-plus pointer" aria-hidden="true"></i>
                  Dodaj nową kategorię
                </button>
              </div>
              <div class="modal" tabindex="-1" role="dialog" id="winModalAddCategoryIncome">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Dodawanie kategorii przychodów</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" id="formAddCategoryIncome">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Wpisz nazwę kategorii: </p>
                        <input id="inputAddCategoryIncome" class="form-control" class="mt-3 mb-3" type="text">
                        <small>
                          <div class="categoryInfo mt-3 text-danger"></div>
                        </small>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link block_option" id="option2" data-toggle="collapse" href="#collapseTwo">
              Kategorie wydatków
              <i class="icon-down-open" aria-hidden="true" id="up2"></i>
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="info_edition mb-2">Istniejące kategorie:</div>
              {% for category in categoriesExpenses %}
              <label class="subblock_option col-12" id="labelExpense{{category[1]}}">
                <div>
                  <input class="mr-2" type="radio" name="categoryExpense">
                  {{ category[0] }}
                  </input>
                </div>
                <div>
                  <i class="icon-pencil pointer" onclick="showModalToEditCategory('Expense', '{{category[1]}}')" aria-hidden="true" title="Edytuj kategorię"></i>
                  <i class="icon-trash pointer" onclick="showModalToRemoveCategory('Expense', '{{category[1]}}')"
                    aria-hidden="true" title="Usuń kategorię"></i>
                </div>
              </label>
              <div class="modal" tabindex="-1" role="dialog" id="winModalRemoveExpense{{category[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Usuwanie kategorii wydatków</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="removeCategoryExpense">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Czy napewno chcesz usunąć poniższą kategorię? </p>
                        <strong>{{category[0]}}</strong>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Tak</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div class="modal" role="dialog" id="winModalEditCategoryExpense{{category[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Edycja kategorii</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="editCategoryExpense">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Nazwa kategorii</p>
                        <input type="text" class="form-control" value="{{category[0]}}" id="editNameExpense{{category[1]}}">
                        <label>
                          <input type="checkbox" class="mr-1 mt-4 mb-2" id="limitCheckbox{{category[1]}}">
                          <small>Włącz limit dla kategorii</small>
                        </label>
                        <div class="limit-category mb-2">
                          Ustaw miesięczny limit wydatków dla danej kategorii:
                        </div>
                        <input type="number" class="form-control" id="limitNumber{{category[1]}}" readonly >
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Zmień</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="text-right" id="idForNewLabelCategoryExpense">
                <button class="btn_settings mt-3" onclick="showModalToAddCategory('Expense')">
                  <i class="icon-plus" aria-hidden="true"></i>
                  Dodaj nową kategorię
                </button>
              </div>
              <div class="modal" tabindex="-1" role="dialog" id="winModalAddCategoryExpense">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Dodawanie kategorii wydatków</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" id="formAddCategoryExpense">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Wpisz nazwę kategorii: </p>
                        <input id="inputAddCategoryExpense" class="form-control" class="mt-3 mb-3" type="text">
                        <small>
                          <div class="categoryInfo mt-3 text-danger"></div>
                        </small>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link block_option" id="option3" data-toggle="collapse" href="#collapseThree">
              Sposoby płatności
              <i class="icon-down-open" aria-hidden="true" id="up3"></i>
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="info_edition mb-2">Istniejące metody:</div>
              {% for method in paymentMethods %}
              <label class="subblock_option col-12" id="labelPayment{{method[1]}}">
                <div>
                  {{ method[0]  }}
                </div>
                <div>
                  <i class="icon-pencil pointer" onclick="showModalToEditCategory('Payment', '{{method[1]}}')" aria-hidden="true" title="Edytuj metodę"></i>
                  <i class="icon-trash pointer" onclick="showModalToRemoveCategory('Payment', '{{method[1]}}')"
                    aria-hidden="true" title="Usuń metodę"></i>
                </div>
              </label>
              <div class="modal" tabindex="-1" role="dialog" id="winModalRemovePayment{{method[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Usuwanie metod płatności</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="removeCategoryPayment">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Czy napewno chcesz usunąć poniższą metodę? </p>
                        <strong>{{method[0]}}</strong>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Tak</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div class="modal" role="dialog" id="winModalEditCategoryPayment{{method[1]}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Edycja kategorii</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" class="editCategoryPayment">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Nazwa kategorii</p>
                        <input type="text" class="form-control" value="{{method[0]}}" id="editNamePayment{{method[1]}}">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Zmień</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="text-right" id="idForNewLabelCategoryPayment">
                <button class="btn_settings mt-3" onclick="showModalToAddCategory('Payment')">
                  <i class="icon-plus pointer" aria-hidden="true"></i>
                  Dodaj metodę płatności
                </button>
              </div>
              <div class="modal" tabindex="-1" role="dialog" id="winModalAddCategoryPayment">
                <div class="modal-dialog" role="document">
                  <div class="modal-content p-3">
                    <div class="modal-header">
                      <h5 class="modal-title text-body h5">Dodawanie metod płatności</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="post" id="formAddCategoryPayment">
                      <div class="modal-body text-body h6 mt-3 mb-3">
                        <p>Wpisz nazwę metody: </p>
                        <input id="inputAddCategoryPayment" class="form-control" class="mt-3 mb-3" type="text">
                        <small>
                          <div class="categoryInfo mt-3 text-danger"></div>
                        </small>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link block_option" id="option4" data-toggle="collapse" href="#collapseFour">
              Konto
              <i class="icon-down-open" aria-hidden="true" id="up4"></i>
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum..
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}