{% extends "base.html" %}

{% block title %}Budżet osobisty - Dodawanie przychodu{% endblock %}

{% block navigation %} 
        <nav class="navbar navbar-dark navbar-expand-lg">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainmenu" >
                <ol class="navbar-nav mx-auto">
                    <li class="nav-item mx-auto"><a class="nav-link" href="/posts/index">Strona główna</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link active" href="/posts/income">Dodaj przychód</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/posts/expense">Dodaj wydatek</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/balance/balance">Przeglądaj bilans</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link disabled" href="#">Ustawienia</a></li>
                    <li class="nav-item mx-auto"><a class="nav-link" href="/logout">Wyloguj się</a></li>
                </ol>
            </div>
        </nav>
{% endblock %}


{% block head %}
    <script>
        function checkData(){
            //category
            var categories = [];
            var category = 0;
            for(i=0; i<4; i++){
                categories[i] = document.getElementById("c"+i);
                if(categories[i].checked == true){
                    category = categories[i].value;
                }  
            }
            if(category == 0){
                document.getElementById("infoCategory").innerHTML = "Wybierz kategorię.";
            } else {
                document.getElementById("infoCategory").innerHTML = "";
            }
        }

</script>
{% endblock %}


{% block body %}

    <div id="content_expense">
        <div class="container mt-1 mb-1">
            <div id="title">Dodawanie przychodu</div>
            <hr class="line mt-3 mb-4" style="width: 20em">
            <div class="sentence_expense mb-2 mt-2">
                Uzupełnij poniższe dane dotyczące nowego przychodu
            </div>
            <form method="post" action="/posts/create-income">
                <div class="row justify-content-center mt-3">
                    <div class="block">
                        <label>Kwota : <input type="number" step="0.01" min="0.01" name="amount"  id="amount" value="{{ income.amount }}" required></label>
                    </div>
                    <div class="block">
                        <label>Data : <input type="date" name="date" id="date1" value="{{ income.date }}"></label>
                    </div>
                </div>
                <p class="error" id="infoAmount"></p>
                {% if income.errors is not empty %}
                    <div class='error'>{{ income.errors[0] }}</div>
                {% endif %}
                <div class="row justify-content-center mt-2">
                    <div class="col-12 mb-2">Kategoria :</div>
                    <div class="categories">
                        <div><label><input type="radio" id="c0" value="1" name="category" class="mr-2" >Wynagrodzenie</label></div>
                        <div><label><input type="radio" id="c1" value="2" name="category" class="mr-2" >Odsetki bankowe</label></div>
                        <div><label><input type="radio" id="c2" value="3" name="category" class="mr-2" >Sprzedaż na allegro</label></div>
                        <div><label><input type="radio" id="c3" value="4" name="category" class="mr-2" >Inne</label></div>
                    </div>
                </div>
                <p class="error" id="infoCategory"></p>
                {% if income.errors is not empty %}
                    <div class='error'>{{ income.errors[1] }}</div>
                {% endif %}
                <div class="row justify-content-center">
                    <textarea name="comment" id="comment" rows="1" cols="55" placeholder="Krótki komentarz (opcjonalnie)" onfocus="this.placeholder=''" onblur="this.placeholder='Krótki komentarz (opcjonalnie)'"></textarea>
                </div>
                <div class="row justify-content-center mt-3">
                        <input onclick="checkData()" id="expense_submit" type="submit" value="Dodaj przychód" class="mr-5"> 
                        <input id="expense_button" type="reset" value="Anuluj"> 
                </div>	
            </form>
        </div>
    </div>

{% endblock %}
